/sns_db/database
/sns_db/database_past
/sns_web/confs
/sns_web/logs


/back_end/SNSproject/SNSproject/settings.py
/back_end/SNSproject/SNSproject/settings_common.py
/back_end/SNSproject/SNSproject/settings_dev.py
/back_end/SNSproject/SNSproject/__pycache__
/back_end/SNSproject/balloon/__pycache__


/front_end/node_modules
/front_end/balloon_front/node_modules
/front_end_past
/front_end/balloon_front/src/components/HelloWorld2.vue



*.env